body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.keypad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.number-key {
  background-color: aliceblue;
  color: navy;
}

.operator-key {
  background-color: navy;
  color: white;
}

.action-key {
  background-color: mediumblue;
  color: white;
}